.wds-global-navigation {
	background-color: #002a327d;
	box-shadow: 0px 0px 15px 2px grey;
}
.wds-global-navigation__link:visited, .wds-global-navigation__start-a-wiki:visited {
	color: #d6d6d6;
}
.wds-global-navigation__link, .wds-global-navigation__start-a-wiki {
	color: #d6d6d6;
}
.wds-global-navigation__content-bar-left, .wds-global-navigation__content-bar-right {
	height: 40px;
}
